*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section.container{
    min-height: 100vh;
    background: linear-gradient(to bottom, #093C2D, #3B6654, #63A593);
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}

section .interace {
    background-color: #093C2D;
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 20rem;
    width: 90%;
    border-radius: 1rem;
}

.conteudo{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
}

.chat-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
}
.message {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    display: inline-block;
    animation: blink 0.8s infinite;
}
@keyframes blink {
    50% { border-color: transparent; }
}